<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Layout/Layout :: layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="otherCss">
    </th:block>
</head>
<body>
<main th:fragment="contentpages">

    <!-- REGISTER
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Register -->
                <h3 class="mb-6">Sign Up and Start Learning!</h3>

                <!-- Form Register -->
                <form class="mb-5">

                    <!-- Username -->
                    <div class="form-group mb-5">
                        <label for="modalSignupUsername1">
                            Username
                        </label>
                        <input type="text" class="form-control" id="modalSignupUsername1" placeholder="John">
                    </div>

                    <!-- Email -->
                    <div class="form-group mb-5">
                        <label for="modalSignupEmail1">
                            Username or Email
                        </label>
                        <input type="email" class="form-control" id="modalSignupEmail1" placeholder="johndoe@creativelayers.com">
                    </div>

                    <!-- Password -->
                    <div class="form-group mb-5">
                        <label for="modalSignupPassword3">
                            Password
                        </label>
                        <input type="password" class="form-control" id="modalSignupPassword3" placeholder="**********">
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-block btn-primary" type="submit">
                        SIGN UP
                    </button>

                </form>

                <!-- Text -->
                <p class="mb-0 font-size-sm text-center">
                    Already have an account? <a class="text-underline" href="login.html">Log In</a>
                </p>
            </div>
        </div>
    </div>
</main>
<th:block th:fragment="otherScripts">
</th:block>
</body>
</html>